body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.login-container {
    width: 700px;
    max-width: none;
    margin: 300px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
    width: 300%;
    max-width: none;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*overflow-x: auto*/
}
/*.dashboard-container {
    width: 190%;
    display: inline-block;*/ /* 容器宽度自动扩展 */
    /*padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap;*/ /* 防止换行 */
/*}*/

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="password"], button {
    width: 98%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    position: relative;
    background-color: #f2f2f2;
    white-space: normal;
    word-wrap: break-word;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    position: relative;
    background-color: #f2f2f2;
    white-space: normal;
    word-wrap: break-word;
}

th {
    background-color: #f2f2f2;
}

.flashes {
    color: red;
    list-style-type: none;
}
.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    z-index: 1;
}

